---
// About component

// Description ---------------------------------------------------------------------------------------
// This component is an about section that provides information about the project or the author.
// The about component is used to introduce the project or the author and provide a brief overview
// of the content. The about component is typically used on the main page of the project to provide
// context and background information.
// ---------------------------------------------------------------------------------------------------

// Imports -------------------------------------------------------------------------------------------
import Section from "@/components/Section.astro"; // Import the section component
import { getI18n, loadCV } from "@/i18n"; // Import the geti18n function from the i18n module
// ---------------------------------------------------------------------------------------------------

// Constants -----------------------------------------------------------------------------------------
const { currentLocale } = Astro; // Get the current locale from the Astro object
const i18n = getI18n({ currentLocale }); // Get the i18n object for the current locale
const summary = loadCV({ currentLocale }).basics.summary; // Get the summary from the basics object
// ---------------------------------------------------------------------------------------------------
---

<Section title=`${i18n.ABOUT_TITLE}` id="about">
  <p class="text-gray-600 text-sm text-pretty">{summary}</p>
</Section>
