---
// About component

// Description ---------------------------------------------------------------------------------------
// This component is an about section that provides information about the project or the author.
// The about component is used to introduce the project or the author and provide a brief overview
// of the content. The about component is typically used on the main page of the project to provide
// context and background information.
// ---------------------------------------------------------------------------------------------------

// Imports -------------------------------------------------------------------------------------------
import Section from "@/components/Section.astro"; // Import the section component
// ---------------------------------------------------------------------------------------------------

// Constants -----------------------------------------------------------------------------------------
import { basics } from "@cv"; // Import the basics object from the cv data
const { summary } = basics; // Destructure the summary property from the basics object
// ---------------------------------------------------------------------------------------------------
---

<Section title="About">
  <p class="text-gray-600 text-sm text-pretty">{summary}</p>
</Section>
