---
// Skills component

// Description ---------------------------------------------------------------------------------------
// This component is a skills section that provides information about the author's skills.
// The skills component is used to display the author's skills, including programming languages,
// frameworks, and tools. The skills component is typically used on the main page of the project
// to provide context and background information.
// ---------------------------------------------------------------------------------------------------

// Imports -------------------------------------------------------------------------------------------
import Section from "@/components/Section.astro"; // Import the section component
import { skills } from "@cv"; // Import the skills data
// ---------------------------------------------------------------------------------------------------
---

<Section title="Skills">
  <ul class="inline-flex flex-wrap gap-2">
    {
      skills.map(({ name }) => {
        return (
          <li class="list-none">
            <span class="px-2 pb-1 rounded-md text-sm border border-gray-600">
              {name}
            </span>
          </li>
        );
      })
    }
  </ul>
</Section>
