---
// App Component

// Description ---------------------------------------------------------------------------------------
// This is the main page of the project. It is the first page that will be displayed when the project
// is accessed. This page is used to display information about the project and provide links to other
// pages or external resources. The page is built using Astro components and layout. The layout
// component is used to define the structure of the page, while the card component is used to display
// links to other resources. The page also includes some basic styling to make it visually appealing.
// ---------------------------------------------------------------------------------------------------

// Imports -------------------------------------------------------------------------------------------
import About from "@/components/sections/About.astro"; // Import the about component
import Education from "@/components/sections/Education.astro"; // Import the education component
import Experience from "@/components/sections/Experience.astro"; // Import the experience component
import Hero from "@/components/sections/Hero.astro"; // Import the hero component
import KeyBoardManager from "@/components/KeyBoardManager.astro"; // Import the keyboard manager
import Language from "@/components/sections/Language.astro"; // Import the language component
import Layout from "@/layouts/Layout.astro"; // Import the layout
import Projects from "@/components/sections/Projects.astro"; // Import the projects component
import Skills from "@/components/sections/Skills.astro"; // Import the skills component
import { getI18n, loadCV } from "@/i18n"; // Import the geti18n and loadCV functions from the i18n module
// ---------------------------------------------------------------------------------------------------

// Constants -----------------------------------------------------------------------------------------
const { currentLocale } = Astro; // Get the current locale from the Astro object
const i18n = getI18n({ currentLocale }); // Get the i18n object for the current locale
const basics = loadCV({ currentLocale }).basics; // Get the basics object from the CV
const { name } = basics; // Destructure the name property from the basics object
const appTitle = i18n.APP_TITLE.replace("${name}", name); // Replace the placeholder in the app title
// ---------------------------------------------------------------------------------------------------
---

<Layout title={appTitle}>
  <main class="m-auto w-full p-4">
    <Language />
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
    <KeyBoardManager />
  </main>
</Layout>
