---
// Section component

// Description ---------------------------------------------------------------------------------------
// This component is a section that wraps the content of the page. It includes the HTML structure of
// the section, such as the section tag, and the content of the section. The section component is used
// to define the structure of the page and provide a consistent look and feel across all sections.
// ---------------------------------------------------------------------------------------------------

// Constants -----------------------------------------------------------------------------------------
const { title } = Astro.props; // Destructure the title prop
// ---------------------------------------------------------------------------------------------------
---

<section class="max-w-2xl mx-auto mb-8">
  {title && <h2 class="text-xl mb-2 uppercase">{title}</h2>}
  <slot />
</section>
